<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>

      </nav>
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a routerLink="/productfindnear" class="nav-link active">Buscar Produtos Próximos </a>
          </li>
          <li class="nav-item">
            <a routerLink="/storelist" class="nav-link active">Lista de Lojas </a>
          </li>
          <li class="nav-item">
            <a routerLink="/storeadd" class="nav-link active">Criar nova loja </a>
          </li>
          <li class="nav-item">
              <a routerLink="/productadd" class="nav-link active">Criar novo produto na loja</a>
          </li>
          <li class="nav-item">
              <a routerLink="/productlist" class="nav-link active">Lista de Produtos</a>
          </li> 
        </ul>
      </nav>
      <h3 class="text-muted">Magalu-Finder</h3>
    </div>
    <router-outlet></router-outlet>

  </div>
</body>


</html>