<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
  

  <table class="table table-striped table-bordered">
      
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">CEP</th>
          <th scope="col">Produtos</th>
          <th scope="col">Excluir</th>
        </tr>    
     
        <tr *ngFor="let item of storeList">          
          <td>{{item.Code}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Cep}}</td>
          <td><a href=#>Ver Lista</a></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteStore(item._id)">Excluir Loja</button></td>
        </tr>
     
    </table>
</body>
</html>