<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
  

  <table class="table table-striped table-bordered">
      
        <tr>
          <th scope="col">Filial</th>
          <th scope="col">Codigo</th>
          <th scope="col">Nome</th>
          <th scope="col">Valor</th>
          <th scope="col">Excluir</th>
        </tr>    
     
        <tr *ngFor="let item of productList">  
          <td>{{item.StoreName}}</td>        
          <td>{{item.Code}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Price}}</td>          
          <td><button type="button" class="btn btn-danger" (click)="deleteProduct(item._id)">Excluir Produto</button></td>
        </tr>
     
    </table>
</body>
</html>