<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="panel-group">

    <div class="panel-heading">
      <h3 class="title" id="exampleModalLongTitle">Buscar produto na loja mais próxima</h3>
      <h5>Ao digitar o CEP, buscamos automaticamente o geoposicionamento para comparar com as coordenadas das lojas e ordenar sempre pela mais próxima de você :)</h5>
    </div>
    <div class="panel-body">        
      <div class="form-group">
        <input class="form-control" [(ngModel)]="productFind.Cep" id="ex1" type="number" placeholder="Seu CEP">
      </div>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="productFind.Name" id="ex2" type="text" placeholder="Nome do Produto">
      </div>      
    </div>
    <div class="mfooter">
      <button type="button" class="btn btn-secondary"  routerLink="/productlist">Voltar para a lista de lojas</button>
      <button type="button" (click)="findNear()" class="btn btn-primary">Buscar</button>
    </div> 
  </div>

  <table *ngIf="search == true" class="table table-striped table-bordered">      
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Distancia</th>
    </tr>    
 
    <tr *ngFor="let item of storeList">          
      <td>{{item.Code}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.distance | distance}}</td>      
    </tr>
 
</table>

</body>

</html>